{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div id="main-content" class="blog-page">
    <div class="container">
        <a href="{% url 'posts:post_list' %}" class="btn btn-info mt-3 mb-3 pull-right">Post List</a>

        <div class="row clearfix mt-4">

            

            <div>Are you sure you want to delete this post?</div>
            <div >{{ post.title }}</div>

            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Delete</button>
                <a class="btn btn-success" href="{% url 'posts:post_list' %}">Cancel</a>
            </form>

            
        </div>

    </div>
 
</div>


{% endblock %}

