


{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}


<div class="login_signup_container">


  <form method="POST">
      {% csrf_token %}
      {% if error_message %}
        <div  class="alert alert-danger">{{ error_message }}</div>
      {% endif %}

      {% for field in form %}
        <div class="form-field mb-4">
         {{ field.label_tag }}
         {% render_field field|add_class:"form-control" %}
          
          {% for error in field.errors %}
            <span class="error-message">{{ error }}</span>
          {% endfor %}
         
        </div>
      {% endfor %}

     <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

    <div class="text-center">
      <p>Not a member? <a href="{% url 'account2:account_signup' %}">Register</a></p>
    </div>
  </form>
</div>




{% endblock %}


